/* General Styles */
body {
    font-family: 'Source Code Pro', monospace;
    color: #333;
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-size: 18px;
 
}


@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Header Styles */
.header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.navbar .nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar .nav-list li {
    margin: 0 15px;
}

.navbar .nav-list li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.5s ease;
}

/* Section Styles */
section {
    padding: 20px;
    margin: 20px 0;
    text-align: center;
}

/* Project Item Styles */
.project-item {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    margin-bottom: 20px;
    padding: 15px;
    transition: transform 0.3s ease;
    text-align: left;
}
.position-title {
    font-size: 16px; /* Adjust the font size as needed */
    color: black; /* Adjust the color as needed */
    margin-bottom: 10px; /* Space before the button */
    
}
#about h1 {
    font-size: 24px ; /* Set font size for h1 to 24px */
}
#about p {
    font-size: 18px; /* Set font size for p to 18px */
}
.project-link {
    cursor: pointer;
    position: relative;
    display: block; /* Make the whole area clickable */
}

.project-item:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Footer Styles */
.footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
}


.experience-item img {
    width: 100px;  /* Set a fixed width */
    height: 100px; /* Set a fixed height */
    object-fit: cover; /* This ensures the image covers the area without stretching */
    border-radius: 5px; /* Optional: for rounded corners */
    margin-bottom: 10px; /* Spacing below the image */
}
.experience-item {
    display: flex; /* Aligns items in a row */
    align-items: center; /* Centers items vertically */
    gap: 10px; /* Adds space between items */
}



.exp-description {
    display: none;
    text-align: left;
    margin-top: 10px;
}

.exp-description img {
    width: 100%;
    max-width: 400px; /* Adjust as needed */
    margin-bottom: 10px;
}
.info-btn {
    margin-top: 10px;
}


#work-experience {
    text-align: center; /* Center the header */
    padding: 20px;
    font-size: 24px
   
}



.work-info {
    display: flex;
    flex-direction: column; /* Stack title and button vertically */
    align-items: center; /* Center-align title and button */
    margin-top: 10px;
}

.experience-item.left-align {
    text-align: left;
}

.experience-item.right-align {
    text-align: right;
}

.experience-item.far-right-align {
    text-align: right;
    margin-left: auto;
    margin-right: 0;
}


.work-title {
    /* Styles for the title */
    margin-bottom: 10px;
}

.info-btn {
    /* Styles for the button */
}
.experience-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}



.center-align {
    
        align-items: center;
        margin-top: -240px; /* Adjust this value as needed */
    
}

.experience-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.work-title, .info-btn {
    text-align: center;
    margin-bottom: 10px;
}

.experience-container {
    display: flex;
    justify-content: center; /* Align items to the center */
    gap: 50px; /* Adjust the gap between items */
}


.left-item, .right-item {
    flex: 1; /* Equal flex-grow for both items */
}
.left-item {
    align-self: flex-start;
    margin-right: auto;
}

.right-item {
    align-self: flex-end;
    margin-left: auto;
}

.experience-item {
    /* Other styling for experience items */
}
section {
    background-attachment: fixed;
}
/* Width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
body, a, button {
    cursor: url('custom-cursor.png'), auto;
}
#chartContainer {
    background-color: white;
    width: 450px; /* Adjust width as needed */
    height: 450px; /* Adjust height as needed */
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
    margin: 20px auto; /* Centering the container */
    border-radius: 10px; /* Optional rounded corners */
}

